﻿@model MvcApplication1.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataCreated)
    </div>
</fieldset>

@Html.Partial("_addComment",new MvcApplication1.Models.Comment(), ViewData);




<fieldset>
    <legend>Comment</legend>
    @foreach(var comment in Model.Comments)
    {
            <div class="display-field">
        @Html.DisplayFor(x => comment.Body)
    </div>
    }
</fieldset>


    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
